<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlasticBackupCLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlasticBackupCLI.Properties.Settings>
            <setting name="HashedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DBFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TempFolder" serializeAs="String">
                <value />
            </setting>
        </PlasticBackupCLI.Properties.Settings>
    </userSettings>
</configuration>